.image {
    position:relative;
    text-align:center;
    float: left;
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 150px;
    width: 100%;
    font-size: 200%;
    font-family: Verdana;
}
